@import "tailwindcss";

@theme {
  /* Tus colores de marca (los dejamos por si los usás después) */
  --color-primary: #137fec;
  --color-primary-dark: #0f65bc;
  
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  /* Tu fuente */
  --font-display: var(--font-public-sans), sans-serif;
}

/* Reseteo básico para que ocupe toda la altura */
html, body {
  height: 100%;
}

/* src/app/globals.css */
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Evita que el contenido desaparezca si hay un error de scroll en móviles */
main {
  display: block !important;
  opacity: 1 !important;
}